<div class="container mt-5">
  <div *ngIf="!registerMode">
    <h1>
      Welcome to the To-Do-List web page!
    </h1>
    <p class="lead">
      Register below to start using the application.
    </p>
    <div class="text-left">
      <button class="btn btn-primary btn-lg" (click)="registerToggle()">Register</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-5">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>

