<form formGroup="updateUserForm" (ngSubmit)="updateUser()">
  <h2>
    Update your user details
  </h2>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': updateUserForm.get('city').errors}"
           type="text"
           class="form-control"
           formControlName="city"/>
    <div class="invalid-feedback" *ngIf="updateUserForm.get('city').hasError('required')">
      City is required
    </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': updateUserForm.get('country').errors}"
           type="text"
           class="form-control"
           formControlName="country"/>
    <div class="invalid-feedback" *ngIf="updateUserForm.get('country').hasError('required')">
      Country is required
    </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': updateUserForm.get('dateOfBirth').errors}"
           type="text"
           bsDatepicker />
    <div class="invalid-feedback" *ngIf="updateUserForm.get('dateOfBirth').hasError('required')">
      Date of birth is required
    </div>
  </div>

</form>
